@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@Html.BeginForm("Index", "Words")
<div>
    <div class="row">
        <div class="col-4">
            <label></label>
        </div>
    </div>
</div>
@Html.EndForm()

